#
# Confused? Check out: http://git-scm.com/docs/gitignore
#

# Ignore the following directories
node_modules/
dist/
app/bower_components/
lib-cov/
.idea/
.tmp/
.sass-cache/
pids
logs
results

# Ignore the following file patterns files
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.DS_Store
npm-debug.log
